<div class="row" style="width: 100%; position: absolute; bottom: -180px;">
    <div class="col">
        <p style="text-align: center;">&copy;LetoCTF 2020</p>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=41e07a0f-bd41-450d-bf82-5a99d8d7bc91&lang=ru_RU"
        type="text/javascript"></script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=41e07a0f-bd41-450d-bf82-5a99d8d7bc91&lang=ru_RU"
        type="text/javascript">
</script>
<script type="text/javascript">
    ymaps.ready(init);

    function init() {
        var geolocation = ymaps.geolocation,
            myMap = new ymaps.Map('map', {
                center: [55, 34],
                zoom: 9
            }, {
                searchControlProvider: 'yandex#search'
            });

        geolocation.get({
            provider: 'browser',
        }).then(function (result) {
            result.geoObjects.options.set('preset', 'islands#redCircleIcon');
            myMap.geoObjects.add(result.geoObjects);
            myMap.setCenter(result.geoObjects.get(0).geometry.getCoordinates(), 9);
        });
        ymaps.geoQuery(ymaps.geocode('Больницы Звенигород')).addToMap(myMap);
    }
</script>
