<div class="row">
    <div class="col" style="margin-top: 0;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{%  url 'account' %}">Добро пожаловать, {{ user.first_name }} {{ user.last_name }}</a>
            <ul class="navbar-nav" style="position: absolute; right: 20px;">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
