{% extends 'base/base.html' %}

{% block styles %}
    <style>
        p {
            font-size: 24px;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Settings -->
    <div class="jumbotron">
        <h1 class="display-6">Добро пожаловать, Иванов Иван</h1>
        <hr class="my-4">
        <p>Имя: Иван</p>
        <p>Фамилия: Иванов</p>
        <p>Адрес: г. Москва, ул. Авиамоторная, д. 45, кв. 301</p>
        <p>Электронная почта: mailbox@gmail.com</p>
        <p>Телефон: +7 (800) 555-35-35</p>
        <button class="btn btn-primary btn-lg">Сгенерировать новый пароль</button>
        <a href="{% url 'home' %}" style="display: block; margin-top: 20px; font-size: 24px;">← Назад</a>
    </div>
{% endblock %}
