{% extends 'base/base.html' %}
{% block styles %}
    <style>
        .col {
            margin-top: 30px;
        }

        .card-text {
            font-size: 20px !important;
        }

        .badge {
            margin-left: 20px;
        }
    </style>
{% endblock %}
{% block content %}
    <!-- Announcement -->
    <div class="row">
        <div class="col col-sm-8">
            <p style="color: red; padding: 10px; background-color: #fdd; border-radius: 5px;"><b>Всем гражданам</b>
                рекомендовано оставаться дома и
                вызвать врача на дом при
                появлении первых признаков заболевания (повышение температуры, головокружение, потеря обоняния).</p>
        </div>
        <div class="col col-sm-4">
            <button class="btn btn-primary btn-lg"
                    style="width: 100%; height: calc(100% - 18px); font-weight: 600; font-size: 24px;">Версия для
                слабовидящих
            </button>
        </div>
    </div>

    <!-- Statistic -->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Статистика в мире
                </div>
                <div class="card-body">
                    <p class="card-text">{{f0}}</p>
                    <p class="card-text">{{f1}}</p>
                    <p class="card-text">{{f2}}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Статистика в России
                </div>
                <div class="card-body">
                    <p class="card-text">{{f3}}</p>
                    <p class="card-text">{{f4}}</p>
                    <p class="card-text">{{f5}}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Статистика в Москве
                </div>
                <div class="card-body">
                    <p class="card-text">{{f6}}</p>
                    <p class="card-text">{{f7}}</p>
                    <p class="card-text">{{f8}}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- News -->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Последние новости
                </div>
                <div class="card-body">
                    <ul>
                        <li>
                            <a href="https://covid19.rosminzdrav.ru/minzdrav-rossii-utverdil-metodrekomendaczii-po-reabilitaczii-paczientov-posle-covid-19/"
                               class="card-text" style="display: inline-block;">В Казахстане наградили российских
                                врачей за содействие в лечении пациентов с COVID-19</a> <span
                                class="badge badge-info">6 августа 19:32</span></li>
                        <li>
                            <a href="https://covid19.rosminzdrav.ru/minzdrav-rossii-utverdil-metodrekomendaczii-po-reabilitaczii-paczientov-posle-covid-19/"
                               class="card-text" style="display: inline-block;">Минздрав России утвердил
                                методрекомендации
                                по реабилитации пациентов после COVID-19</a> <span class="badge badge-info">31 июля
                                    12:34</span></li>
                        <li>
                            <a href="https://covid19.rosminzdrav.ru/bashkirskie-vrachi-pomogut-kirgizii-borotsya-s-koronavirusom/"
                               class="card-text" style="display: inline-block;">Башкирские врачи помогут Киргизии
                                бороться с
                                коронавирусом</a> <span class="badge badge-info">23 июля
                                    12:40</span></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Map -->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Ближайший медценттр
                </div>
                <div class="card-body" id=map style="width: 100%; height: 90vh"></div>
            </div>
        </div>
    </div>

    <!-- Medical info-->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Запись на прием
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <input class="form-control form-control-lg" placeholder="Причина записи">
                        <input type="date" class="form-control form-control-lg"
                               style="margin-top: 20px; margin-bottom: 20px;">
                        <small class="form-text text-muted">В случае даже незначительного ухудшения
                            Вашего
                            самочувствия советуем обращаться за медицинской помощью и оставаться дома</small>
                        <button class="btn btn-primary btn-lg" style="margin-top: 20px;">Записаться</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col" style="position: relative;">
            <div class="card">
                <div class="card-header">
                    Вакцинация
                </div>
                <div class="card-body">
                    <p class="card-text">Для жителей Москвы и Санкт-Петербурга доступна вакцинация. <a
                            href="/vaccination">Подробнее...</a></p>
                </div>
            </div>

            <div class="card" style="margin-top: 30px;">
                <div class="card-header">
                    Авторы
                </div>
                <div class="card-body">
                    <p class="card-text" style="display: inline-block">
                        @krasnopolsky<br>@NikitaBerezhnov<br>@curious_pingvi</p>
                    <p class="card-text" style="display: inline-block; margin-left: 50px;">
                        @AtomnijPchelovek<br>@Neprincessa_v_99<br>@KelvonO</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>

</html>